a {
  color: #202020;
}

a:hover {
  color: #000;
  cursor: pointer;
}

body {
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: 700;
}

.card {
  background: #f1f1f1;
  color: #202020;
  max-width: 656px;
  margin: 12px auto;
  padding: 32px;
  border: 1px solid #202020;
  border-radius: 8px;
  box-shadow: 0 24px 40px rgba(46, 46, 46, 0.08);
}

.current-details {
  color: #202020;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  gap: 48px;
  align-items: center;
}

.current-temperature-icon {
  max-height: 56px;
  max-width: 56px;
  height: auto;
  width: auto;
  display: inline-block;
  transform: translateY(4px);
}

.current-temperature-unit {
  position: relative;
  top: -38px;
}

footer {
  text-align: center;
  padding-top: 32px;
  color: #202020;
}

#search-form {
  display: flex;
  gap: 8px;
}
.search-input {
  background-color: #fff;
  border: none;
  color: rgba(54, 54, 54, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
}

.search-button {
  font-size: 16px;
  background-color: #202020;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 4px;
}

.search-button:hover {
  cursor: pointer;
  background-color: #000;
}

main {
  padding: 88px 0;
}

.main-text {
  font-size: 56px;
}
