a {
  color: #202020;
}

a:hover {
  color: #000;
  cursor: pointer;
}

body {
  background: #eaeaea;
  font-family: "Roboto", sans-serif;
  margin: 16px;
  color: #202020;
}

.bold {
  font-weight: 700;
}

.card {
  background: #f1f1f1;
  max-width: 656px;
  margin: 12px auto;
  padding: 24px;
  border: 1px solid #202020;
  border-radius: 8px;
  box-shadow: 0 24px 40px rgba(46, 46, 46, 0.08);
}

.current-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.current-temperature-icon {
  height: 64px;
  width: 64px;
  display: inline-block;
  transform: translateY(4px);
}

.current-temperature-unit {
  position: relative;
  top: -38px;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}

.forecast-icon {
  width: 48px;
  height: 48px;
}

footer {
  text-align: center;
  padding-top: 32px;
}

#search-form {
  display: flex;
  gap: 8px;
}

.search-input {
  background-color: #fff;
  border: none;
  color: rgba(54, 54, 54, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
}

.search-button {
  font-size: 16px;
  background-color: #202020;
  color: #eaeaea;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 4px;
}

.search-button:hover {
  cursor: pointer;
  background-color: #000;
}

.warm-theme a {
  color: #e05d63;
}
.warm-theme,
.warm-theme * {
  color: #e05d63 !important;
}
.warm-theme .card {
  background: #f0dccd;
  border-color: #e05d63;
}
.warm-theme .search-button {
  background-color: #e05d63;
  color: #eaeaea !important;
}
.warm-theme .search-button:hover {
  background-color: #b8484f;
  color: #eaeaea !important;
}

.cool-theme a {
  color: #5667c1;
}
.cool-theme,
.cool-theme * {
  color: #5667c1 !important;
}
.cool-theme .card {
  background: #bfd5e2;
  border-color: #5667c1;
}
.cool-theme .search-button {
  background-color: #5667c1;
  color: #eaeaea !important;
}
.cool-theme .search-button:hover {
  background-color: #4458a0;
  color: #eaeaea !important;
}

main {
  padding: 88px 0;
}

.text {
  font-size: 56px;
}

.text-small {
  font-size: 14px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
}
